'''
1.	What are data structures, and why are they important

    o	Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.


2.	Explain the difference between mutable and immutable data types with examples
    
    o	Mutable data types are those which can be changed, modified, replaced etc. Lists an example of mutable data types. Immutable are those data types which cannot be modified, changed etc and example for same is Tuple. 


3.	What are the main differences between lists and tuples in Python
    
    o	Lists are mutable and can be modified whereas Tuples are immutable and cannot be modified once created.


4.	Describe how dictionaries store data
    
    o	Dictionaries store data in pair as Keys and Value. Keys are immutable and unique. Values are associated with keys and are mutable.


5.	Why might you use a set instead of a list in Python
    
    o	Set is used when uniqueness of elements is crucial and order doesn't matter, while List is preferable when you need to maintain the order of elements and allow duplicates.


6.	What is a string in Python, and how is it different from a list
    
    o	A string is a sequence of characters, whereas list is a sequence of elements.


7.	How do tuples ensure data integrity in Python
    
    o	Tuples once created cannot be changed, modified or replace hance integrity is maintained.


8.	What is a hash table, and how does it relate to dictionaries in Python
    
    o	Hash tables are a type of data structure in which the address/ index value of the data element is generated. This enables very fast data access as the index value behaves as a key for the data value. hash tables store key-value pairs but the key is generated through a hashing function. So the search and insertion function of a data element becomes much faster as the key values themselves become the index of the array which stores the data. During lookup, the key is hashed and the resulting hash indicates where the corresponding value is stored.


9.	Can lists contain different data types in Python
    
    o	Yes, lists can contain different data types in python.


10.	Explain why strings are immutable in Python
    
    o	Python strings are "immutable" because they cannot be changed after they are created.


11.	What advantages do dictionaries offer over lists for certain tasks
    
    o	The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary. If the data stored is identifiable, the data can be attributed to name or item this might be a preferable system. Certain task like storing name, roll number, class, address of students in school will be preferable if dictionaries.


12.	Describe a scenario where using a tuple would be preferable over a list
    
    o	A tuple is used instead of a list when you have a collection of items that should not be modified. Tuples are useful when you want to ensure that the data remains constant throughout your program. A scenario where exam marks are stored should be stored in tuple so that modification post creation is not possible.


13.	How do sets handle duplicate values in Python
    
    o	Sets consider duplicated value as one instance only. 


14.	How does the “in” keyword work differently for lists and dictionaries
    
    o	The in keyword in dictionaries tells whether something appears or not as a key in the dictionary. The in keyword can be used to test whether certain characters are present in a string or a certain value present in a list and is very useful to write conditional statements that will execute a block of code only when a value or character is found in a list.


15.	Can you modify the elements of a tuple? Explain why or why not
    
    o	No, we cannot modify elements of a tuple. This is because tuples are immutable.


16.	What is a nested dictionary, and give an example of its use case
    
    o	Nested dictionary is a dictionary where the values of one or more key-value pairs are themselves dictionaries. Example in name and address database the address can be nested. e.g. 
    Personal_detail = {name":"Nilesh","age":50,"address": {"city": "Mumbai", "state": "Maharashtra"}}


17.	Describe the time complexity of accessing elements in a dictionary
    
    o	The time complexity of accessing an element in a dictionary is O(1) on average, which means it takes constant time regardless of the dictionary's size. This is because dictionaries are implemented as hash tables


18.	In what situations are lists preferred over dictionaries
    
    o	List are preferred for ordered collections and sequence operations, such as maintaining a stack or queue.


19.	Why are dictionaries considered unordered, and how does that affect data retrieval
    
    o	A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added and the items do not have a defined order, you cannot refer to an item by using an index.


20.	Explain the difference between a list and a dictionary in terms of data retrieval.
    
    o	A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

'''

In [ ]:
# 1. Write a code to create a string with your name and print it.
name = str("Nilesh Sinha")
print(name)

Nilesh Sinha

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
len("Hello World")

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
a = "Python programming"
print(a[0:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase
b = "hello"
print(b.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
d = "I like apple"
print(d) # Print the original statement
d=d.replace("apple","orange")
print(d) # Print the revised statement

I like apple
I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
a = list(range(1,6))
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list_1 = [1,2,3,4]
print(list_1) # Print the original list
list_1.append(10)
print(list_1) # Print the revised list

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list_2 = [1,2,3,4,5]
print(list_2) # Print the original list
list_2.remove(3)
print(list_2) # Print the revised list

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list_3 = ['a','b','c','d']
print(list_3[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
list_4 = [10,20,30,40,50]
print(list_4[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple_1 = (100, 200, 300)
print(tuple_1)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple_2 =('red', 'green', 'blue', 'yellow')
print(tuple_2[-2])

blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple_3 =(10,20,5,15)
min(tuple_3)

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple_4 =('dog', 'cat', 'rabbit')
tuple_4.index('cat')

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple_5 = ("apple","Kiwi", "Banana")
print(tuple_5)
"Kiwi" in tuple_5

('apple', 'Kiwi', 'Banana')

True

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'b', 'a', 'c'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2 = {1,2,3,4,5}
print(set2) # to show the elements in set.
set2.clear()
print(set2) # to show the clear function.

{1, 2, 3, 4, 5}
set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3 = {1,2,3,4,}
print(set3) # to show the elements in set.
set3.remove(4)
print(set3) # to show the remove function.

{1, 2, 3, 4}
{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set4 = {1,2,3}
set5 = {3,4,5}
set4 | set5

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set6 = {1,2,3}
set7 = {2,3,4,}
set6 & set7

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d1 = {"Name":"John","Age":"25","city":"Mumbai",} # Values are arbitrary 
print(d1) # for printing entire dictionary
d1.keys() # for printing keys

{'Name': 'John', 'Age': '25', 'city': 'Mumbai'}

dict_keys(['Name', 'Age', 'city'])

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d2 = {"Name":"John","Age":"25"}
print(d2) # Print original list
d2["Country"] = "USA"
print(d2) # Print list post addition of country

{'Name': 'John', 'Age': '25'}
{'Name': 'John', 'Age': '25', 'Country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d3 = {"Name":"Alice","Age":"30"}
d3.get("Name")

'Alice'

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d4 = {"Name":"Bob","Age":"22","city":"New York"}
print(d4) # Printing of original list
d4.pop("Age")
print(d4) # Printing of list after removing age

{'Name': 'Bob', 'Age': '22', 'city': 'New York'}
{'Name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d5 = {'name': 'Alice', 'city': 'Paris'}
"city" in d5

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list_5 = [1,2.4,"Cat",True]
tuple_6 = (3,5.3,"Dog",False)
dict_1 = {"First Name": "Nilesh", "Last Name":"Sinha"}
print(type(list_5))
print(list_5)
print(type(tuple_5))
print(tuple_6)
print(type(dict_1))
print(dict_1)

<class 'list'>
[1, 2.4, 'Cat', True]
<class 'tuple'>
(3, 5.3, 'Dog', False)
<class 'dict'>
{'First Name': 'Nilesh', 'Last Name': 'Sinha'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
random_num = [80,35,68,25,72]
print(sorted(random_num)) # For dispaly only list will remain unchanged.
random_num.sort() # For sorting in the list and list will be modified.
print(random_num)

[25, 35, 68, 72, 80]
[25, 35, 68, 72, 80]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
list2 = ["a","c","z,","y","f","g"]
print(list2[3]) # printing of third index a=0, c=1, z=2 y=3.

y

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
d6 = {"Name":"Nilesh","City":"Mumbai"}
d7 = {"State":"Maharashtra","Country":"India"}
d6.update(d7)
print(d6)

{'Name': 'Nilesh', 'City': 'Mumbai', 'State': 'Maharashtra', 'Country': 'India'}

In [ ]:
# 30. Write a code to convert a list of strings into a set
list3 = ["apple","cat","fruit","gift","apple"]
set8 = set(list3)
print(set8)

{'apple', 'cat', 'fruit', 'gift'}