In [ ]:
# 1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

def sum_eve(list):
    return sum(num for num in list if num %2 ==0)

In [ ]:
list = (1,2,3,4,5,6,7,8,9)
print (sum_eve(list))

20

In [ ]:
# 2. Create a Python function that accepts a string and returns the reverse of that string

def rev_str(str):
    return str[::-1]

In [ ]:
str = "Nilesh Sinha"
print (rev_str(str))

ahniS hseliN

In [ ]:
# 3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

def sqr_list(list):
    return [num**2 for num in list]

In [ ]:
list = (1,2,3,4,5,6)
print (sqr_list(list))

[1, 4, 9, 16, 25, 36]

In [ ]:
# 4. Write a Python function that checks if a given number is prime or not from 1 to 200.

def check_prime(num):
    if num > 200:
        return "Number above 200"
    elif num < 2:
        return "Not a prime number"
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return "Not a prime number"
    return "Prime number"

In [ ]:
num = 201
print (check_prime(num))

Number above 200

In [ ]:
# 5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

num = 12
fib = lambda n: n if n<=1 else fib(n-1) + fib(n-2)
[fib(i) for i in range(num)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
# 6. Write a generator function in Python that yields the powers of 2 up to a given exponent

def power_of_two(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

In [ ]:
exponent = 6
for i in power_of_two(exponent):
  print(i)

1
2
4
8
16
32
64

In [ ]:
# 7. Implement a generator function that reads a file line by line and yields each line as a string

def read_file(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()

In [ ]:
filename = "My Name is Nilesh Sinha"
print(read_file(filename))

<generator object read_file at 0x7e3445d05210>

In [ ]:
#8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple

def sort_list(tuple_list):
  sorted_list = sorted(tuple_list, key=lambda x: x[1])
  return sorted_list

In [ ]:
tuple_list = [(1, 'one'), (3, 'three'), (2, 'two'), (4, 'four')]
print(sort_list(tuple_list))

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [ ]:
#9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

celsius_temp = [39.5, 40, 37.6, 38, -32, -40]
list(map(lambda x: ((x * 9/5) + 32), celsius_temp))

[103.1, 104.0, 99.68, 100.4, -25.6, -40.0]

In [ ]:
#10 . Create a Python program that uses `filter()` to remove all the vowels from a given string.

def remove_vowels(string1):
    vowels = 'aeiouAEIOU'
    return "".join(filter(lambda x: x not in vowels, string1))

In [ ]:
string1 = "My name is Nilesh Sinha"
print(remove_vowels(string1))

In [ ]:
'''
# 10 . Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

Order No		Book title and author			          Quantity		Price per item
34587			  Learning Python, Mark Lutz		          4			    40.95
98762			  Programming Python, Mark Lutz	          5			    56.80
77226			  Head First Python, Paul Barry		        3			    32.95
88112			  Einfühlung in python 3, Bernd Klein	    3			     24.99

Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10,- € if the value of the order is smaller than 100,00 €. Write a Python program using lambda and map.
'''

def calculate_order_values(orders):
    result = []
    for order in orders:
        order_number, price_per_item, quantity = order
        total_value = price_per_item * quantity
        if total_value < 100.00:
            total_value += 10
        result.append((order_number, total_value))
    return result
orders = [
    (1, 20.0, 3),
    (2, 50.0, 2)
]

order_values = calculate_order_values(orders)
print(order_values)

[(1, 70.0), (2, 100.0)]